      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Categories:</h6>
          <a class="dropdown-item" href="/lists/new">+ Create new</a>
          <% if current_user.present? %>
          <% current_user.lists.each do |list| %>
          <a class="collapse-item list-name" href="/lists/<%=list.id%>" data-my-id="<%= list.id %>">
            <%= list.name %></a>
          <% end %>
        </div>
      </div>