// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Pscriber
$main-blue: #243599;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
$main-pending: #f7e79f;
$main-success: #1cdd87;