// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Pscriber
$main-primary: #00ffcc;
$main-container: #dbe8f7;

// Blue dark
$main-blue-gradient: linear-gradient(12deg, rgba(45,69,194,1) 0%, rgba(48,73,206,1) 40%, rgba(46,73,210,1) 100%);
$main-blue-dark03: #01135f;
$main-blue-dark02:#122e9d;
$main-blue-dark01: #2044c5;
$main-blue-dark: #2a4cb2;

// Blue light
$main-blue-light03: #94c5f3;
$main-blue-light02: #6aa4d5;
$main-blue-light01: #167FFB;

$main-btn-light:#e2e8ff;


// Purple
$main-purple-light03:#412da7;
$main-purple-light02:#513fbd;
$main-purple-light01:#5250d6;

// Status
$main-pending-dark: #d93b38;
$main-pending-light: #fe5959;

$main-success-dark:#00a25a;
$main-success-light: #1EDD88;

// Neutral
$main-gray:#858585;
$main-black: #2b2a2a; 

//Hightlighter
$main-highlight-text:#bacfe4;

