<div class="container">
  <div class="video-show-container">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <div class="show-container">
          <%= render 'videos/video-player' %>
        </div>
      </div>   
      <div class="col-lg-6">
        <div class="show-container">
          <%= render 'videos/video-caption-card' %>
        </div>  
      </div>
    </div>
  </div>
</div>  


<style>

.current_caption{
  background-color:yellow;
  color:black;
}
#caption_container > ul > li{
    list-style-type: none;}


</style>


