<%= render 'videos/video-player' %>

<div>
    <h2>Video ID:</h2>
    <p><%= @video_id %></p>
  </div>
  <div>
    <h2>Caption ID:</h2>
    <p><%= @caption_id %></p>
  </div>
  <div>
    <h2>Captions:</h2>
    <p><%= @captions %></p>
</div>