    
  <div class="row no-gutters video-content">
    <div class="col-lg-6">
      <%= render 'videos/video-player' %>
    </div>
    <div class="col-lg-5">
      <%= render 'videos/video-caption-card' %>
    </div>
  </div>

<style>
  .current_caption{
    background-color:yellow;
    color:black;
  }
  #caption_container {
      list-style-type: none;
      overflow: auto;
          min-height:40vh;
    max-height:70vh;}
  p{
      color:black;
  }
</style>
