    <div class="row no-gutters">
      <div class="col-lg-6">
        <div class="show-container">
          <%= render 'videos/video-player' %>
        </div>
      </div>   
      <div class="col-lg-6">
        <div class="show-container">
          <%= render 'videos/video-caption-card' %>
        </div>  
      </div>
    </div>

<style>

.current_caption{
  background-color:yellow;
  color:black;
}
#caption_container {
    list-style-type: none;}

#caption_container{
  min-height:50vh;
  max-height:80vh;
}
</style>
