//VIDEOHEADER
.pageHeaderTitle {
  font-family: 'Roboto';
  color: #01135f;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 300;
  line-height: 112px;
  padding: 5px;
  padding-bottom: 3%;
  line-height: 1.2;
}

//VIDEOCARD
.videocard {
  flex-wrap: wrap;
  display: flex;
  height: 350px;
  padding: 2%;
  overflow: hidden;
  position: relative;
  color: black;
  border-radius: 20px;
  background-color: #edf3f9;
  margin-bottom: 20px;
}


// VIDEO THUMBNAIL  
  .videocard-thumbnail {
    width: 100%;
    position: relative;
    object-fit: cover;
  }

// VIDEO INFO
.videocard-title {
  font-family:  $headers-font;
  font-weight: 600;
  color: $main-blue-dark03;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  line-height: 112px;
  line-height: 1.2;
  letter-spacing: -0.8px;
}

  .videocard-info {
    font-family: $body-font;
    color: $main-gray;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 112px;
    font-weight: 300;
    padding-right: 5px;
    line-height: 1.2;
  }

// SUB INFO
  .videocard-text {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .videocard-description {
    font-family: $body-font;
    color: $main-black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 112px;
    font-weight: 300;
    padding-right: 5px;
    padding-top: 5px;
    line-height: 1.2;
    overflow: auto;
    max-height: 130px;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .videocard-tagbox .tag-item {
    display: inline;
    padding: 6px;
    background: $main-btn-light;
    color: $main-black;
    border-style: solid;
    border-color: #243599;
    border-radius: 50px;
    margin: 0 5px 5px 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.3s;
    a{
      color: #2b2a2a;
    }

}

// RESPONSIVE
@media screen and (min-width: 800px) {
  .videocard {
    flex-wrap: inherit;

    .videocard .videocard-tagbox {
        display: contents;
        margin: 50px;
    }

    .videocard-title {
      font-size: 30px;
    }

    .videocard-tagbox {
      justify-content: start;
      display: contents;
    }

    .videocard-img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .videocard-text {
      padding: 3rem;
      width: 100%;
    }

    .media.videocard-text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .videocard-img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .videocard-text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .videocard-text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.videocard-text {
      padding: 2rem 3.5rem;
    }
		
		.videocard-text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .videocard.dark {
		.videocard-text:before {
			background: #18151f;
		}
  }
	.videocard.light {
		.videocard-text:before {
			background: #e1e5ea;
		}
  }
}

.hide-form {
  display: none;
}

/* COLORS */

// .videocard .videocard-tagbox .blue.play:hover {
// 	background: $main-blue;
// }
// .blue .videocard-title:hover {
// 	color: $main-blue;
// }
// .blue .videocard-bar {
// 	background-color: $main-blue;
// }
// .blue::before {
// 	background-image: linear-gradient(-30deg, $main-blue-gradient, transparent 50%);
// }
// .blue:nth-child(2n)::before {
// 	background-image: linear-gradient(30deg, $main-blue-gradient, transparent 50%);
// }





.blog-card {
  -webkit-box-shadow: 0 0 15px -5px #ccc;
  box-shadow: 0 0 15px -5px #ccc;
  margin-top: 30px
}

.blog-card .blog-img {
  overflow: hidden
}

.blog-card .blog-img img {
  -webkit-transition: .5s ease;
  transition: .5s ease
}

.blog-card .blog-text-area {
  padding: 0 30px 25px
}

.blog-card .blog-text-area span {
  border-radius: 5px;
  padding: 5px 15px;
  color: var(--whiteColor);
  background-color: var(--secondColor);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: relative;
  top: -12px;
  font-size: 14px;
  font-weight: 500
}

.blog-card .blog-text-area .blog-date {
  margin-top: 10px
}

.blog-card .blog-text-area .blog-date ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.blog-card .blog-text-area .blog-date ul li {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  color: #2e2e2e;
  font-size: 14px;
  font-family: var(--fontFamily2)
}

.blog-card .blog-text-area .blog-date ul li i {
  font-size: 14px;
  margin-right: 3px;
  color: var(--mainColor)
}

.blog-card .blog-text-area .blog-date ul li::after {
  content: '/';
  position: absolute;
  right: -12px;
  top: 0
}

.blog-card .blog-text-area .blog-date ul li:last-child {
  margin-right: 0
}

.blog-card .blog-text-area .blog-date ul li:last-child::after {
  display: none
}

.blog-card .blog-text-area h4 {
  font-size: var(--card-title-fontSize);
  line-height: 1.4;
  margin-top: 15px;
  margin-bottom: 0
}

.blog-card:hover .blog-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.blog-card:hover .blog-text-area span {
  top: -8px;
  background-color: var(--mainColor)
}


//Search Transcript view text

span.search_term_highlight {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 500;
  background: $main-highlight-text;
  color: $main-blue-dark03;
  padding: 2px;
  border-style: none;
}

li {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 300;
  color: $main-black;
}