//VIDEOHEADER
.pageHeaderTitle {
  font-family: 'CircularStd-Black';
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  line-height: 112px;
  font-weight: 800;
  padding: 5px;
  line-height: 1.2;
}

//VIDEOCARD
.videocard {
  flex-wrap: wrap;
  display: flex;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #3048ca;
  border-radius: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

// VIDEO THUMBNAIL  
  .videocard-thumbnail {
    width: 100%;
    position: relative;
    object-fit: cover;
  }

// VIDEO INFO
  .videocard-title {
    font-family: 'CircularStd-Black';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 112px;
    font-weight: 800;
    padding: 5px;
    line-height: 1.2;
  }

  .videocard-info {
    font-family: 'CircularStd-Black';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 112px;
    font-weight: 800;
    padding: 5px;
    line-height: 1.2;
  }

// SUB INFO
  .videocard-text {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .videocard-description {
    overflow: auto;
    max-height: 100px;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .videocard-tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag-item {
      display: inline-block;
      background: #e2e8ff;
      border-style: solid;
      border-color: #243599;
      border-radius: 50px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: #cfd7fa;
      }
    }
  }

// RESPONSIVE
@media screen and (min-width: 800px) {
  .videocard {
    flex-wrap: inherit;

    .videocard-title {
      font-size: 2rem;
    }

    .videocard-tagbox {
      justify-content: start;
    }

    .videocard-img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .videocard-text {
      padding: 3rem;
      width: 100%;
    }

    .media.videocard-text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .videocard-img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .videocard-text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .videocard-text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.videocard-text {
      padding: 2rem 3.5rem;
    }
		
		.videocard-text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .videocard.dark {
		.videocard-text:before {
			background: #18151f;
		}
  }
	.videocard.light {
		.videocard-text:before {
			background: #e1e5ea;
		}
  }
}


