.card {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border: black solid 2px;
  margin: 12px;
}

.card:hover {
    box-shadow: 0 6px 7px rgba(0,0,0,0.2);
}

// .img-card {
//   width: 100%;
//   object-fit: cover;
// }
