.nav-icon {
    margin-top: 10px;
    height: 17px;
    opacity: 70%;
}

.fa-heart:before {
    content: "\f004";
    font-size: 22px;
    color: $main-blue-dark01;
}


.fa-heart {
    content: "\f004";
    font-size: 22px;
    color: $main-blue-light03;
}


.fa-globe {
    color: white;
    font-size: 25px;
    padding:5px;
}

.fa-globe:hover {
    color: #171347;
    font-size: 25px;
    padding:5px;
}

.fa-github {
    color: white;
    font-size: 25px;
    padding:5px;
}

.fa-github:hover {
    color: #171347;
    font-size: 25px;
    padding:5px;
}


.fa-linkedin-in {
    color: white;
    font-size: 25px;
    padding:5px;
}

.fa-linkedin-in:hover {
    color: #171347;
    font-size: 25px;
    padding:5px;
}

.fa-envelope {
    color: white;
    font-size: 25px;
    padding:5px;

}

.fa-envelope:hover {
    color: #171347;
    font-size: 25px;
    padding:5px;

}



