.nav-icon {
    height: 20px;
}

.fa-heart:before {
    content: "\f004";
    font-size: 22px;
    color: $main-blue-dark01;
}


.fa-heart {
    content: "\f004";
    font-size: 22px;
    color: $main-blue-light03;
}