.nav-icon {
    margin-top: 10px;
    height: 17px;
    opacity: 70%;
}

.fa-heart:before {
    content: "\f004";
    font-size: 22px;
    color: $main-blue-dark01;
}


.fa-heart {
    content: "\f004";
    font-size: 22px;
    color: $main-blue-light03;
}

