#status-pending {
   display: inline-block;
   height: 20px;
   padding: 5px;
   background-color: $main-pending-dark;
   color: $main-pending-light;
}

#status-completed {
    display: inline-block;
    height: 20px;
    padding: 5px;
    background-color: $main-success-light;
    color: $main-success-dark;
 }