.show-container {
  padding: 20px;
}

#fullTranscript > li {
  list-style: none;
  text-transform: capitalize;
}

.video-content {
  background-color: #edf3f9;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
}

.videoplayer-tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: left;

  .tag-item {
    display: inline-block;
    background: #cacfe2;
    border-radius: 50px;
    padding: 4px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
      a{
        color: #2b2a2a;
      }

    &:hover {
      background: #cfd7fa;
    }
  }
}
