<!-- TOPNAV-->  
<div class="flex-container">
          
                    <div class="flex-items"><%= render 'shared/navbar/logo' %></div>
                  
                        <!-- SEARCH-->
                      <div class="flex-items"><%= render 'shared/navbar/search' %></div>
                         <div class="flex-items"><%= render 'shared/navbar/user' %> </div>
            
  
</div>

<!-- SIDEBAR-->
<%= render 'shared/navbar/navbar-side' %>

